<div class='container login-container py-5'>
  <div class='flex-row justify-center loginHeader loginPage'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <h1 class='h1Tag'>Welcome, {{name}}!</h1>
      <br />
      <h3 class='h1Tag'>Plan a New Trip</h3>

      <form class='form new-trip-form'>
        <div class='form-group'>
          <label class='formLabel' for='trip-name'>Trip Description</label>
          <input
            class='form-control'
            type='text'
            id='trip-name'
            name='trip-name'
          />
        </div>
        <div class='form-group'>
          <label class='formLabel' for='trip-city'>City</label>
          <input
            class='form-control'
            type='text'
            id='trip-city'
            name='trip-city'
          />
        </div>
        <div class='form-group'>
          <label class='formLabel' for='trip-city'>Country</label>
          <input
            class='form-control'
            type='text'
            id='trip-country'
            name='trip-country'
          />
        </div>
        <div class='form-group'>
          <label class='formLabel' for='trip-date'>Select trip starting date</label>
          <input
            class='form-control'
            type='date'
            id='trip-date'
            name='trip-date'
          />
        </div>
        <div class='form-group'>
          <label class='formLabel' for='trip-duration'>Select the duration of the
            trip.</label>
          <input
            class='form-control'
            type='number'
            id='trip-duration'
            name='trip-duration'
          />
        </div>

        <div class='form-group'>
          <button type='submit' class='btn btn-primary buttons'>Create</button>
        </div>
      </form>

      

    </div>
  </div>
</div>

<script src='./js/addtrip.js'></script>
