<section class="dest-card">
    <header>{{destinations.city}}</header>
<div class="card-body" class+"col-md-4" id="container">       
    <h5 id='location'>{{city}}</h5>
    <h5 id='location'>{{country}}</h5>

</div>

</section>