<!-- Header with image -->
<div style="background: url(/images/background2.jpg)" class="page-holder bg-cover">
  <div class="container py-5">
    <header class="text-center text-light py-5 destHeader">
      <h1 class="display-1 font-weight-bold mb-5">Destinations</h1>
      <p>Select your destination:</p>
    </header>
  </div>
  <section class="container">
    <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
      <div class='card-columns mytrips'>
        {{#each destinations as |destination|}}
    <section class="dest-card ">
      <div class="card-body col-md-4 tripcard mx-auto" style="max-width: 318px;" id="container">       
        <h5 id='location' data-destid='{{destination.id}}'><a class="anchor" href='/destinations/{{destination.id}}'>{{destination.city}}, {{destination.country}}</a></h5>
      </div>
    </section>
    {{/each}}
    </div>
    </div>
    </section>
</div>