<!-- Loop over each object in the projects array -->
{{#each trips as |trip| }}
<div>
  <h3>{{trip.description}}</h3>
  <p>{{format_date trip.start_date}}</p>
  <p>{{trip.destination.city}}/{{trip.destination.country}}</p>
  <hr>
</div>
{{/each}}
